 
<% @users.each do |user| %>
 <% if current_user.name == user.name %>
    <%  next %>
     <% end %>
 <h4>Email: <%= user.email %></br></h4>
 <h4>Username: <%= user.name %> </br></h4>
 <h4>Date Of Birth: <%= user.dob %></br></h4>
 <% if (current_user.admin_user == true)%>

  <h4><%= link_to "Edit User" ,edit_user_path(user)%> </h4>
  <h4><%= link_to 'Delete User', user_path(user),
                    method: :delete, data: { confirm: 'Are you sure?' } %></h4>  


 <% end %> 
 <% end %>
 <%= link_to 'Back', user_path(current_user) %>
<%= link_to 'Logout', logout_path %>



